<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="180" packages="">
    <properties>
        <!-- java -jar xxx.jar -Dapp.log=xxxx， 如果不提供则使用默认值 -->
        <property name="app.log">mybatisplus-generator</property>
        <property name="LOG_HOME">/opt/logs/${sys:app.log}</property>
        <property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss,SSS}:%4p [%X{traceId}] %C %t (%F:%L) - %m%n</property>
    </properties>
    <Appenders>
        <!--Console -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>