<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxkj.goods.mapper.SkuAttributeMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zxkj.goods.entity.SkuAttribute">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="options" property="options" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, options, sort
    </sql>
    <insert id="insertAll" parameterType="com.zxkj.goods.entity.SkuAttribute" >
        insert into sku_attribute
        <trim prefix="(" suffix=")" suffixOverrides="," >
            name,
            options,
            sort,
        </trim>
        VALUES
        <foreach collection="paramList" separator="," item="param" index="index">
            <trim prefix="(" suffix=")" suffixOverrides="," >
                #{param.id, jdbcType=INTEGER},
                #{param.name, jdbcType=VARCHAR},
                #{param.options, jdbcType=VARCHAR},
                #{param.sort, jdbcType=INTEGER},
            </trim>
        </foreach>
    </insert>
</mapper>